
Sokoban_practise/Library
Sokoban_practise/.idea
Sokoban_practise/Logs
Sokoban_practise/obj
Sokoban_practise/Packages
Sokoban_practise/ProjectSettings
Sokoban_practise/Temp
Sokoban_practise/*.csproj
Sokoban_practise/Assets/Plugins
Sokoban_practise/Assets/Scenes
Sokoban_practise/Assets/*.meta
Sokoban_practise/Assets/Scripts/*.meta
Sokoban_practise/Assets/Sprites/*.meta
Sokoban_practise/Assets/Prefabs
Sokoban_practise/Assets/Resources/*.meta
Sokoban_practise/*.sln
Sokoban_practise/Assets/*.unity

